.sidetab-menu {
    width: 15%;
    height: 100%;
    position: fixed;
    // background-color: #122f3b;
    background-color: #1C2B36;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}
.tab-content {
    width: 85%;
    height: 100%;
    position: fixed;
    margin-left: 15%;
    overflow: auto;
}
.tab button {
    display: block;
    background-color: #1C2B36;
    color: white;
    padding: 10px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 13px;
    border-top: 1px solid #ffffff;
    //border-bottom: 1px solid #ffffff;
}
.sidetab-icon {
    width: 15px;
    margin-right: 13px; 
    font-size: 13px;
}
.tab button.active {
    color: #CDDC39;
    // background: #209e91;
    // color: white;
}
.tabcontent {
    float: left;
    padding: 20px 23px;
    width: 100%;
    height: 100%;
}


.rmvSpace{
    margin: 0;
    color: white;
}
.padding-10 {
    padding: 10px;
}
.my-icon svg {
    fill : #ffffff;
}
.bgPink {
    background-color: #F06292;
}
.bgPurple {
    background-color: #9C27B0;
}
.bgOrng {
    background-color: #FF9800;
}
.bgBlue {
    background-color: #00BCD4;
    // background-color: #546E7A;
}
.bgGreen {
    background-color: #8BC34A;
}
.bgYellw {
    background-color: #FFF176;
}
.bgRed {
    background-color: #F44336;
}
.bgWhite {
    background-color: white;
}
.bgCyan{
   background-color: #26C6DA;
}
.bgPurple{
   background-color: #AB47BC;
}
.bgRed{
   background-color: #e53935;
}
.bgAqua{
   background-color: #26A69A;
}
.bgLeaf{
   background-color: #AED581;
}
.side-icon svg {
    // fill : #00BCD4;
    fill : #546E7A;
}
.side-link-head {
    font-size: 25px;
    text-transform: uppercase;
}
.side-text-color {
    color: #616569 !important;
}
.side-text-color a {
    color: #788088 !important;
    padding-top: 3px;
    font-size: 17px;
}
.label-links {
    padding: 10px;
    text-decoration: none !important;
    width: 100%;
}
