<!-- <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <div class="full-width" style="width: 100%">
        <div class="sidetab-menu">
            <div class="tab">
                <button id="b1" class="tablinks active" ng-click="admin.openCity('b1','Dashboard')"><i class="fa fa-home sidetab-icon" aria-hidden="true"></i>Dashboard</button>
                <button id="b8" class="tablinks" ng-click="admin.gotoProduct()"><i class="fa fa-cart-plus sidetab-icon" aria-hidden="true"></i>Quote</button>
                <button id="b6" class="tablinks" ng-click="admin.openCity('b6','Category')"><i class="fa fa-bars sidetab-icon" aria-hidden="true"></i>Category</button>
                <button id="b7" class="tablinks" ng-click="admin.openCity('b7','Sub-category')"><i class="fa fa-list sidetab-icon" aria-hidden="true"></i>Sub-category</button>
                <button id="b2" class="tablinks" ng-click="admin.openCity('b2', 'Product')"><i class="fa fa-product-hunt sidetab-icon" aria-hidden="true"></i>Product</button>
                <button id="b3" class="tablinks" ng-click="admin.openCity('b3', 'Distributor')"><i class="fa fa-users sidetab-icon" aria-hidden="true"></i>Distributor</button>
                <button id="b4" class="tablinks" ng-click="admin.openCity('b4', 'Customer')"><i class="fa fa-user-plus sidetab-icon" aria-hidden="true"></i>Customer</button>
                <button id="b5" class="tablinks" ng-click="admin.openCity('b5', 'Changepwd')"><i class="fa fa-cog sidetab-icon" aria-hidden="true"></i>Change Password</button>
                <button id="b9" class="tablinks" ng-click="admin.openCity('b9', 'Editprofile')"><i class="fa fa-edit sidetab-icon" aria-hidden="true"></i>Edit Profile</button>
            </div>
        </div>

        <div class="tab-content">
            <div id="Dashboard" class="tabcontent">
                <div>Dashboard view</div>
            </div>
            <div id="Quote" class="tabcontent">

            </div>
            <div id="Category" class="tabcontent">
                <all-category-list></all-category-list>
            </div>
            <div id="Sub-category" class="tabcontent">
                <add-product-sub-category></add-product-sub-category>
            </div>
            <div id="Product" class="tabcontent">
                <add-product></add-product>
            </div>
            <div id="Distributor" class="tabcontent">
                <distributor></distributor>
            </div>
            <div id="Customer" class="tabcontent">
                <customer></customer>
            </div>
            <div id="Changepwd" class="tabcontent">
                <div><settings></settings></div>
            </div>
            <div id="Editprofile" class="tabcontent">
                <div><editprofile></editprofile></div>
            </div>
        </div>

    </div>
</div> -->

<div class="container">
    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px; padding-top: 40px;"
        layout-align="space-between start" ng-cloak>
        <div layout="column" flex="100">
            <!-- <div layout="row" layout-align="center center">
                <a ng-href="/productlist" class="label-links">
                    <div class="bgAqua" md-whiteframe="1" flex="100" layout layout-align="center center">
                        <div layout="column" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="note_add" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" layout-align="center center">
                            <h3 class="rmvSpace">New Quotation</h3>
                        </div>
                    </div>
                </a>
            </div> -->
            <div layout="row" layout-align="space-between center">
                <a ng-href="/quotation" class="label-links">
                    <div class="bgAqua" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="insert_comment" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Quotation</h3>
                        </div>
                    </div>
                </a>

                <a ng-href="/invoice" class="label-links">
                    <div class="bgBrick" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="local_grocery_store" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Create Invoice</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/orderdetails" class="label-links">
                    <div class="bgRed" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="view_list" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Order Details</h3>
                        </div>
                    </div>
                </a>

                <a ng-href="/addProduct" class="label-links">
                    <div class="bgCyan" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="add_box" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Add Products</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/allCategoryList" class="label-links">
                    <div class="bgGreen" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="format_list_bulleted" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Category</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/addProductSubCategory" class="label-links">
                    <div class="bgOrng" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="format_list_numbered" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Sub-category</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/customer" class="label-links">
                    <div class="bgPurple" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="account_box" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Customer</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/distributor" class="label-links">
                    <div class="bgPink" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="supervisor_account" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Distributor</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/hsnlist" class="label-links">
                    <div class="bgdeep" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="filter_list" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">HSN</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/allproducts" class="label-links">
                    <div class="bgGrey" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="sort" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Product List</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/billingproduct" class="label-links">
                    <div class="bgAqua" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="note_add" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Billing Products</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/others" class="label-links">
                    <div class="bgRed" md-whiteframe="1" layout layout-align="center center">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="view_list" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Others</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- <div layout="column" flex="60">
            <div layout="row" layout-align="center center">
                <a ng-href="/productlist" class="label-links">
                    <div class="bgAqua" md-whiteframe="1" flex="100" layout layout-align="center center" >
                        <div layout="column"  layout-align="center center" class="padding-10">
                            <ng-md-icon icon="note_add" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column"  layout-align="center center">
                            <h3 class="rmvSpace">New Quotation</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center" >
                <a ng-href="/orderdetails" class="label-links">
                    <div class="bgRed" md-whiteframe="1" layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="view_list" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Order Details</h3>
                        </div>
                    </div>
                </a>

                <a ng-href="/addProduct" class="label-links">
                    <div class="bgCyan" md-whiteframe="1"  layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="add_box" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Products</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/allCategoryList" class="label-links">
                    <div class="bgGreen" md-whiteframe="1" layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="format_list_bulleted" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Category</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/addProductSubCategory" class="label-links">
                    <div class="bgOrng" md-whiteframe="1" layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="format_list_numbered" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Sub-category</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div layout="row" layout-align="space-between center">
                <a ng-href="/customer" class="label-links">
                    <div class="bgPurple" md-whiteframe="1" layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="account_box" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="center center">
                            <h3 class="rmvSpace">Customer</h3>
                        </div>
                    </div>
                </a>
                <a ng-href="/distributor" class="label-links">
                    <div class="bgPink" md-whiteframe="1" layout layout-align="center center" ng-click="dashboardCtrl.goLedger()">
                        <div layout="column" flex="30" layout-align="center center" class="padding-10">
                            <ng-md-icon icon="supervisor_account" class="my-icon" size="50px"></ng-md-icon>
                        </div>

                        <div layout="column" flex="70" layout-align="end center">
                            <h3 class="rmvSpace">Distributor</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div layout="column" flex="30">
            <div layout="row">
                <div layout="column" class="padding-10">
                    <ng-md-icon icon="storage" class="side-icon" size="35px"></ng-md-icon>
                </div>
                <div layout="column" class="padding-10 side-text-color">
                    <p class="side-link-head">Order Details</p>
                    <a href="#">Completed Orders</a>
                    <a href="#">Processes Orders</a>
                    <a href="#">Placed Orders</a>
                </div>
            </div>
            <div layout="row">
                <div layout="column" class="padding-10">
                    <ng-md-icon icon="bubble_chart" class="side-icon" size="35px"></ng-md-icon>
                </div>
                <div layout="column" class="padding-10 side-text-color">
                    <p class="side-link-head">Product Details</p>
                    <a href="/addProduct">Add Product</a>
                    <a href="/allCategoryList">Category</a>
                    <a href="/addProductSubCategory">Sub-category</a>
                </div>
            </div>
            <div layout="row">
                <div layout="column" class="padding-10">
                    <ng-md-icon icon="settings" class="side-icon" size="35px"></ng-md-icon>
                </div>
                <div layout="column" class="padding-10 side-text-color">
                    <p class="side-link-head">Settings</p>
                    <a href="/changepassword">Change Password</a>
                    <a href="/editprofile">Editprofile</a>
                </div>
            </div>
        </div> -->

    </div>
</div>