
table.md-table th.md-column {
    font-size: 16px !important;
}
table.md-table td.md-cell, table.md-table th.md-column {
    text-align: center;
    width: 120px;
}
.rzslider .rz-tick-legend {
    width: 60px;
    max-width: 60px;
}
.pagination {
    display: flex;
    justify-content: center;
}