<div class="container btmSpace" >
        <div class="row">
            <!-- <div class="col-md-12">
                    <div>
                        <h1 style="color: rgb(35, 36, 41)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="padding-right: 5px;"></i>Edit Profile<hr></h1>
                    </div>
    
                    <form name="uForm" ng-submit="vm.userInfoUpdate()" novalidate>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="col-sm-12 col-md-3 col-lg-3">
                                <div class="imgCover"><img class="form-group img-circle imgStyle" ng-src="{{vm.userinfo.UserProfile.profilepic == null ? '/assets/images/male.png' : vm.userinfo.UserProfile.profilepic}}"></div>
                                <input type='file' class="form-group chooseFile" name="image" maxsize="500" ng-model='vm.userinfo.UserProfile.profilepic' accept="image/*" ng-change="vm.editPic(vm.userinfo.UserProfile.profilepic)" base-sixty-four-input>
                                <div class="has-error" layout="row" layout-align="center center">
                                    <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 500 KB</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-9 col-lg-9">
                                <div class="form-horizontal">
                                    <div class="form-group topSpace">
                                        <label class="control-label col-sm-3 col-md-3">Full Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="fullname" class="form-control" placeholder="Full Name" ng-model="vm.userinfo.name" ng-pattern="/^[a-zA-Z ]*$/" maxlength="30" minlength="3" required/>
                                            <p class="tooltips" ng-show="uForm.fullname.$error.required && !uForm.fullname.$pristine"><span>Name is Required</span></p>
                                            <p class="tooltips" ng-show="uForm.fullname.$error.pattern || uForm.fullname.$error.minlength || uForm.fullname.$error.maxlength"><span>atleast contain 3 letters</span></p>           
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Email</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="email" class="form-control" placeholder="Email" ng-model="vm.userinfo.email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required/>
                                            <p class="tooltips" ng-show="uForm.email.$error.required && !uForm.email.$pristine"><span>Email is Required</span></p>
                                            <p class="tooltips" ng-show="uForm.email.$error.pattern"><span>should look like-xyz@lk.com</span></p>                               
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Mobile Number</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number" ng-model="vm.userinfo.mobilenumber" ng-pattern="/^(\+91[\-\s]?)?[0]?(91)?[1-9]\d{9}$/" required/>                                    
                                                <p class="tooltips" ng-show="uForm.mobilenumber.$error.required && !uForm.mobilenumber.$pristine"><span>Mobile Number is required</span></p>
                                                <p class="tooltips" ng-show="uForm.mobilenumber.$error.pattern"><span>must contain 10 digits</span></p>                                     
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Address</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="address" class="form-control" placeholder="Address" ng-model="vm.userinfo.UserProfile.address"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Country</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="vm.userinfo.UserProfile.country_id" name="companyCountry" ng-change="vm.userinfo.UserProfile.state_id=null; vm.userinfo.UserProfile.city_id=null; vm.cities = []; vm.getStates(vm.userinfo.UserProfile.country_id)">
                                                <option value="">Select Country</option>
                                                <option ng-repeat="country in vm.country" ng-value="{{country._id}}">{{country.countryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">State</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="vm.userinfo.UserProfile.state_id" name="companyState" ng-change="vm.userinfo.UserProfile.city_id=null; vm.cities = []; vm.getCities(vm.userinfo.UserProfile.state_id)">
                                                <option value="">Select State</option>
                                                <option ng-repeat="state in vm.states" ng-value="{{state._id}}">{{state.stateName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">City</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="vm.userinfo.UserProfile.city_id" name="companyCity">
                                                <option value="">Select City</option>
                                                <option ng-repeat="city in vm.cities" ng-value="{{city._id}}">{{city.cityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Zip</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="zip" class="form-control" placeholder="Zip" ng-model="vm.userinfo.UserProfile.zip" required ng-pattern="/^\d{6}$/"/>
                                            <p class="tooltips" ng-show="uForm.zip.$error.required && !uForm.zip.$pristine"><span>Zip code is Required</span></p>
                                            <p class="tooltips" ng-show="uForm.zip.$error.pattern"><span>Zip code should be 6 digits</span></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3"></label>
                                        <div class="col-sm-6">
                                                <md-button class="md-raised md-primary btnWidth" type="submit" ng-disabled="uForm.$invalid">Update</md-button>
                                                <md-button class="md-raised md-accent btnWidth" ng-click="vm.cancel()">Cancel</md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                            <div layout="row" layout-align="center center" class="alert alert-danger" ng-if="vm.errMsg">
                                {{vm.errMsg}}
                            </div>
                        </div>
                    </form>
            </div> -->

            <div class="col-md-12">
                <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                    <div>
                        <h1 class="head-line"><i class="fa fa-pencil-square-o" aria-hidden="true" id="icon-right-5"></i>Edit Profile</h1>
                    </div>
                    <div>
                        <ol class="breadcrumb al-breadcrumb">
                            <li class="breadcrumb-item" ng-if="vm.getCurrentUser.role == 'admin'"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item" ng-if="vm.getCurrentUser.role != 'admin'"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Edit Profile</li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-12"><hr class="hr-width"></div>

                <div class="col-md-12">
                    <form name="uForm" ng-submit="vm.userInfoUpdate()" novalidate>
                        <div>
                            <div class="imgCover"><img class="form-group img-circle imgStyle" ng-src="{{vm.userinfo.profilepic == null ? '/assets/images/male.png' : vm.userinfo.profilepic}}"></div>
                            <div layout="row" layout-align="center center">
                                <input type='file' class="form-group chooseFile" name="image" maxsize="500" ng-model='vm.userinfo.profilepic' accept="image/*" ng-change="vm.editPic(vm.userinfo.profilepic)" base-sixty-four-input>
                            </div>
                            <div class="has-error" layout="row" layout-align="center center">
                                <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 500 KB</p>
                            </div>
                        </div>
                        <div class="topSpace">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="fullname" class="form-control" placeholder="Full Name" ng-model="vm.userinfo.name" ng-pattern="/^[a-zA-Z ]*$/" maxlength="30" minlength="3" required/>
                                    <p class="tooltips" ng-show="uForm.fullname.$error.required && !uForm.fullname.$pristine"><span>Name is Required</span></p>
                                    <p class="tooltips" ng-show="uForm.fullname.$error.pattern || uForm.fullname.$error.minlength || uForm.fullname.$error.maxlength"><span>atleast contain 3 letters</span></p>           
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="gst" class="form-control" placeholder="GST Number" ng-model="vm.userinfo.gst_number" required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="email" class="form-control" placeholder="Email" ng-model="vm.userinfo.email" ng-pattern="/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i" required/>
                                    <p class="tooltips" ng-show="uForm.email.$error.required && !uForm.email.$pristine"><span>Email is Required</span></p>
                                    <p class="tooltips" ng-show="uForm.email.$error.pattern"><span>should look like-xyz@lk.com</span></p>                               
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="mobilenumber" class="form-control" placeholder="Mobile Number" ng-model="vm.userinfo.mobilenumber" ng-pattern="/^(\+91[\-\s]?)?[0]?(91)?[1-9]\d{9}$/" required/>                                    
                                    <p class="tooltips" ng-show="uForm.mobilenumber.$error.required && !uForm.mobilenumber.$pristine"><span>Mobile Number is required</span></p>
                                    <p class="tooltips" ng-show="uForm.mobilenumber.$error.pattern"><span>must contain 10 digits</span></p>                                     
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea type="text" rows="3" name="address" class="form-control" placeholder="Address" ng-model="vm.userinfo.address"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" ng-model="vm.userinfo.country_id" name="companyCountry" ng-change="vm.userinfo.state_id=null; vm.userinfo.city_id=null; vm.cities = []; vm.getStates(vm.userinfo.country_id)">
                                        <option value="">Select Country</option>
                                        <option ng-repeat="country in vm.country" ng-value="{{country._id}}">{{country.countryName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" ng-model="vm.userinfo.state_id" name="companyState" ng-change="vm.userinfo.city_id=null; vm.cities = []; vm.getCities(vm.userinfo.state_id)">
                                        <option value="">Select State</option>
                                        <option ng-repeat="state in vm.states" ng-value="{{state._id}}">{{state.stateName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <select class="form-control" ng-model="vm.userinfo.city_id" name="companyCity">
                                        <option value="">Select City</option>
                                        <option ng-repeat="city in vm.cities" ng-value="{{city._id}}">{{city.cityName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" name="zip" class="form-control" placeholder="Zip" ng-model="vm.userinfo.zip" required ng-pattern="/^\d{6}$/"/>
                                    <p class="tooltips" ng-show="uForm.zip.$error.required && !uForm.zip.$pristine"><span>Zip code is Required</span></p>
                                    <p class="tooltips" ng-show="uForm.zip.$error.pattern"><span>Zip code should be 6 digits</span></p>
                                </div>
                            </div>
                            <div class="col-sm-12" layout="row" layout-align="center center">
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary btn-block new-btn" ng-disabled="uForm.$invalid">Save</button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger btn-block cancel-btn" ng-click="vm.cancel()">Cancel</button>
                                </div>
                            </div>
                            <div class="col-sm-12" layout="row" layout-align="center center" class="alert alert-danger" ng-if="vm.errMsg">
                                {{vm.errMsg}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    