<div class="container-fluid btmSpace">
    <div class="row" ng-hide="customerCtrl.flag">
        <div class="col-md-12">
            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-user" aria-hidden="true" id="icon-right-5"></i>Customer</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Customer</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-width ">
            </div>

            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <button class="icon-btn" ng-click="customerCtrl.clickNew()"><i class="fa fa-plus" id="icon-right-5"></i>New
                        Customer</button>
                </div>
                <div class="search-box">
                    <input class="search-inp" type='text' ng-model='customerCtrl.searchText' placeholder="Search">
                    <button class="search-btn-icon"><i class="zmdi zmdi-search"></i></button>
                </div>
            </div>

            <div class="col-md-12 padding-left-right-0" ng-hide="customerCtrl.btnClicked || customerCtrl.noDataFound">
                <div class="col-md-4 col-lg-4 padding-top-40" ng-repeat="customer in customerCtrl.customerList | filter:{ 'name': customerCtrl.searchText}">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div layout="row">
                                <div layout="column" layout-align="center center">
                                    <div class="card-i-div">
                                        <img ng-src="{{(customer.UserProfile.profilepic == null) ? '/assets/images/male.png' : customer.UserProfile.profilepic}}"
                                            class="card-img img-circle">
                                    </div>
                                </div>
                                <div layout="column">
                                    <div class="card-content-div">
                                        <h3>{{customer.name}}</h3>
                                        <p class="card-p-email">{{customer.email}}</p>
                                        <p class="card-p-num">{{customer.mobilenumber}}</p>
                                        <button class="btn btn-default card-btn" ng-click="customerCtrl.edit(customer)">View
                                            Profile</button>
                                        <!-- <button class="btn btn-default" ng-click="customerCtrl.edit(customer)" style="margin-top: 5px;">Delete</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 padding-left-right-0">
                    <ul uib-pagination total-items="customerCtrl.bigTotalItems" ng-model="customerCtrl.bigCurrentPage"
                        max-size="customerCtrl.maxSize" class="pagination-sm" boundary-links="true" rotate="false"
                        ng-click="customerCtrl.pagination()"></ul>
                </div>

                <div layout="row" layout-align="center center">
                    <div class="alert alert-danger" ng-if="customerCtrl.errMsg">
                        {{customerCtrl.errMsg}}
                    </div>
                </div>
            </div>

            <div class="col-md-12 padding-top-40" layout="row" layout-align="center center" ng-show="customerCtrl.noDataFound">
                No Data Found
            </div>

            <div class="container" ng-show="customerCtrl.btnClicked" style="padding-top: 250px;">
                <div layout="column" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
            </div>

        </div>
    </div>

    <div class="row" ng-show="customerCtrl.flag">

        <div class="col-md-12" ng-hide="customerCtrl.btnClicked">
            <div ng-if="!customerCtrl.isEdit" class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-user" aria-hidden="true" id="icon-right-5"></i>Add Customer</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="#" ng-click="customerCtrl.cancel()">Back to List</a></li>
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Add Customer</li>
                    </ol>
                </div>
            </div>
            <div ng-if="customerCtrl.isEdit" class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-user" aria-hidden="true" id="icon-right-5"></i>Edit Customer</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="#" ng-click="customerCtrl.cancel()">Back to List</a></li>
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Edit Customer</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-width">
            </div>

            <div class="col-md-12">
                <form name="uForm" ng-submit="customerCtrl.save()" validate>
                    <div>
                        <div class="imgCover"><img class="form-group img-circle imgStyle" ng-src="{{customerCtrl.def}}"></div>
                        <div layout="row" layout-align="center center">
                            <input type='file' maxsize="3072" ng-model='customerCtrl.profilepic' accept="image/*"
                                ng-change="customerCtrl.picChange(customerCtrl.profilepic)" base-sixty-four-input>
                        </div>
                        <div class="has-error" layout="row" layout-align="center center">
                            <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 3 Mb</p>
                        </div>
                    </div>

                    <div class="topSpace">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="fullname" class="form-control" placeholder="Full Name"
                                    ng-model="customerCtrl.user.name" required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" name="gst" class="form-control" placeholder="GST Number" ng-model="customerCtrl.user.gst_number"
                                    required />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email address"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Email should like john@example.com"
                                    id="email" ng-model="customerCtrl.user.email" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="mobilenumber" placeholder="Mobile Number" id="mobilenumber"
                                    required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    type="number" maxlength="10" ng-model="customerCtrl.user.mobilenumber" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="3" name="address" placeholder="Address" ng-model="customerCtrl.user.address"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="customerCtrl.user.country_id" name="companyCountry"
                                    ng-change="customerCtrl.user.state_id=null; customerCtrl.user.city_id=null; customerCtrl.getStates(customerCtrl.user.country_id)"
                                    required>
                                    <option value="">Select Country</option>
                                    <option ng-repeat="country in customerCtrl.country" ng-if="!customerCtrl.isEdit"
                                        value="{{country._id}}">{{country.countryName}}</option>
                                    <option ng-repeat="country in customerCtrl.country" ng-if="customerCtrl.isEdit"
                                        ng-value="{{country._id}}">{{country.countryName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="customerCtrl.user.state_id" name="companyState"
                                    ng-change="customerCtrl.user.city_id=null; customerCtrl.getCities(customerCtrl.user.state_id)"
                                    required>
                                    <option value="">Select State</option>
                                    <option ng-repeat="state in customerCtrl.states" ng-if="!customerCtrl.isEdit" value="{{state._id}}">{{state.stateName}}</option>
                                    <option ng-repeat="state in customerCtrl.states" ng-if="customerCtrl.isEdit"
                                        ng-value="{{state._id}}">{{state.stateName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="form-control" ng-model="customerCtrl.user.city_id" name="companycity">
                                    <option value="">Select City</option>
                                    <option ng-repeat="city in customerCtrl.cities" ng-if="!customerCtrl.isEdit" value="{{city._id}}">{{city.cityName}}</option>
                                    <option ng-repeat="city in customerCtrl.cities" ng-if="customerCtrl.isEdit"
                                        ng-value="{{city._id}}">{{city.cityName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="zip" placeholder="Zip" required oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    type="number" maxlength="6" ng-model="customerCtrl.user.zip" required>
                            </div>
                        </div>
                        <div class="col-sm-12" layout="row" layout-align="center center">
                            <div class="col-md-3" ng-if="!customerCtrl.isEdit">
                                <button type="submit" class="btn btn-primary btn-block new-btn">Add</button>
                            </div>
                            <div class="col-md-3" ng-if="customerCtrl.isEdit">
                                <button type="submit" class="btn btn-primary btn-block new-btn">Save</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-danger btn-block cancel-btn" ng-click="customerCtrl.cancel()">Cancel</button>
                            </div>
                        </div>
                        <div class="col-sm-12 p-t-20" layout="row" layout-align="center center" class="alert alert-danger"
                            ng-if="customerCtrl.errMsg">
                            {{customerCtrl.errMsg}}
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container" ng-show="customerCtrl.btnClicked" style="padding-top: 200px;">
            <div layout="column" layout-align="center center">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
        </div>
    </div>
</div>