<div class="container btmSpace">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div><h1 class="head-line"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Sub-category List</h1></div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Sub-category List</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12"><hr class="hr-width"></div>

            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <button class="icon-btn" ng-click="addProductSubCategoryCtrl.New()"><i class="fa fa-plus" id="icon-right-5"></i>New Sub-category</button>
                </div>
                <div class="search-box">
                    <input class="search-inp" type='text' ng-model='searchBylocation' placeholder="Search">
                    <button class="search-btn-icon"><i class="zmdi zmdi-search"></i></button>
                </div>
            </div>

            <!-- <div class="md-padding" layout="row" layout-align="space between center" layout-xs="column" layout-sm="column"  layout-align-xs="start start" layout-align-sm="center center">
                <h3>Sub-category</h3>
                <button type="button" class="btn btn-success" ng-click="addProductSubCategoryCtrl.New()">New Sub-Category</button>
            </div> -->
            <div class="col-md-12 padding-top-40 table-data">
                <md-table-container>
                    <table md-table>
                        <thead md-head md-order="addProductSubCategoryCtrl.query.order">
                            <tr md-row>
                                <th md-column>Sub-category</th> 
                                <th md-column>Description</th>
                                <th md-column>Category</th> 
                                <th md-column>Action</th>
                            </tr>
                        </thead>
                        <tbody md-body>   
                            <tr md-row md-auto-select ng-repeat="subcategory in addProductSubCategoryCtrl.subCategoryList
                                                                | filter: filter.search 
                                                                | filter: searchBylocation
                                                                | filter: search 
                                                                | orderBy: addProductSubCategoryCtrl.query.order 
                                                                | limitTo: addProductSubCategoryCtrl.query.limit : (addProductSubCategoryCtrl.query.page -1) * addProductSubCategoryCtrl.query.limit">
                                <td md-cell>{{subcategory.sub_category_name}}</td>
                                <td md-cell>{{subcategory.sub_category_description}}</td> 
                                <td md-cell>{{subcategory.ProductCategory.category_name}}</td> 
                                <td md-cell>
                                    <button type="button" class="btn btn-info new-btn"  ng-click="addProductSubCategoryCtrl.edit(subcategory)"><i class="fa fa-edit" id="icon-right-5"></i>Edit</button>
                                    <button type="button" class="btn btn-danger cancel-btn"  ng-click="addProductSubCategoryCtrl.confirmDelete(subcategory, $event)"><i class="fa fa-trash" id="icon-right-5"></i>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            
                <md-table-pagination md-limit="addProductSubCategoryCtrl.query.limit" md-limit-options="addProductSubCategoryCtrl.limitOptions" 
                    md-page="addProductSubCategoryCtrl.query.page" md-total="{{addProductSubCategoryCtrl.subCategoryList.length}}" 
                    md-page-select="addProductSubCategoryCtrl.options.pageSelect" md-boundary-links="addProductSubCategoryCtrl.options.boundaryLinks" 
                    md-on-paginate="logPagination">
                </md-table-pagination>
                    
                <div layout="row" layout-align="center center"> 
                    <div class="alert alert-danger" ng-if="addProductSubCategoryCtrl.errMsg">
                        {{addProductSubCategoryCtrl.errMsg}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>