<div class="container-fluid btmSpace">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="!addProductSubCategoryCtrl.flag" class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add
                        Sub-category</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Add Sub-category</li>
                    </ol>
                </div>
            </div>
            <div ng-if="addProductSubCategoryCtrl.flag" class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-edit" aria-hidden="true" id="icon-right-5"></i>Edit
                        Sub-category</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Edit Sub-category</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-width">
            </div>

            <div class="col-md-12 padding-top-40">
                <form name="form" ng-submit="addProductSubCategoryCtrl.save()" validate>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <select class="form-control" ng-model="addProductSubCategoryCtrl.subCategoryObj.category_id"
                                name="category_id" required>
                                <option value="">Select Category</option>
                                <option ng-repeat="category in addProductSubCategoryCtrl.categoryList" value="{{category._id}}">{{category.category_name}}</option>
                                <option ng-repeat="category in addProductSubCategoryCtrl.categoryList" ng-if="addProductSubCategoryCtrl.flag"
                                    ng-value="{{category._id}}">{{category.category_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <input type="text" class="form-control" name="subcategory" placeholder="Enter Sub-category"
                                ng-model="addProductSubCategoryCtrl.subCategoryObj.sub_category_name" required>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="form-group">
                            <textarea rows="3" type="text" class="form-control" name="description" placeholder="Enter Sub-category Description"
                                ng-model="addProductSubCategoryCtrl.subCategoryObj.sub_category_description"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 padding-left-right-0" layout="row" layout-align="center center">
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-block new-btn" ng-disabled="addProductSubCategoryCtrl.btnClicked">Save</button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-danger btn-block cancel-btn" ng-click="addProductSubCategoryCtrl.cancel()">Cancel</button>
                        </div>
                    </div>
                    <div class="col-sm-12" layout="row" layout-align="center center" class="alert alert-danger" ng-if="addProductSubCategoryCtrl.errMsg">
                        <p class="tooltips">{{addProductSubCategoryCtrl.errMsg}}</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>