
<div class="footer-style">
  <div class="row padding-top-40" layout="row" layout-align="space-between center">
    <div class="col-sm-12 col-md-3">
      <h2 class="footer-header-title">Company</h2>
      <ul class="footer-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Terms of Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <h2 class="footer-header-title">Our Services</h2>
      <ul class="footer-links">
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </div>
    <div class="col-sm-12 col-md-3">
      <h2 class="footer-header-title">Offices</h2>
      <div class="address">
        <h3>New York</h3>
        <p>2926 Bicetown Road <br> New York, NY 10016</p>
      </div>
      <div class="address">
        <h3>India</h3>
        <p>Address <br> Mysore, Karnataka</p>
      </div>
    </div>

    <div class="col-sm-12 col-md-3">
      <h2 class="footer-header-title">Follow Us</h2>
      <ul class="footer-links">
        <li><a href="#" class="social-link"><i class="fa fa-twitter"></i>Twitter</a></li>
        <li><a href="#" class="social-link"><i class="fa fa-facebook-square"></i>Facebook</a></li>
        <li><a href="#" class="social-link"><i class="fa fa-google"></i>Google Plus</a></li>
        <li><a href="#" class="social-link"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="footer-copyright text-center">
        <div class="text-center">
            <ul class="footer-social">
              <li><a href="#" id="twitter-color"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#" id="fb-color"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#" id="google-color"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#" id="ln-color"><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
        <p class="text-center">	Enfros Solutions &copy;All Rights Reserved. </p> 
      </div>
    </div>
  </div>
</div>


<!-- <div class="footer-new">
  <p>Copyright © 2018 company-name</p>
</div> -->