$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '~angular-material/angular-material.min.css';
@import '~angular-material-data-table/dist/md-data-table.min.css';
@import '~angular-print/angularPrint.css';
@import '~material-design-iconic-font/dist/css/material-design-iconic-font.min.css';
@import '~angular-page-loader/dist/angular-page-loader.css';
@import '~angularjs-slider/dist/rzslider.css';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

// $navbar-bg-color: #122f3b;
// $navbar-title-text-color: #ffffff;
// $navbar-link-text-color: #ffffff;
// $sidebar-bg-color: #122f3b; 

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body {
  padding-top: 70px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

.padding-top-40 {
  padding-top: 40px;
}
.tooltips {
  color: #dc3545;
}
// .navbar {
//   border: none;
//   background-color: $navbar-bg-color;
// }
// .navbar .navbar-brand {
//   color: $navbar-title-text-color;
// }
// .navbar-default .navbar-nav > li > a {
//   color: $navbar-link-text-color;
// }
// .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
//   color:  $navbar-link-text-color;
//   background-color: transparent;
// }
// .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
//   color: $navbar-link-text-color;
//   background: none;
// }
.padding-left-right-0 {
  padding-left: 0px;
  padding-right: 0px;
}
.width-650 {
  width: 650px;
}
.padding-2x {
	padding: 2.5rem!important;
}
.btmSpace {
  margin-bottom: 30px;
}
.red-color {
  color: #be4b49;
}

// Component styles are injected through gulp
/* inject:scss */
@import 'addProduct/addProduct';
@import 'addProductSubCategory/addProductSubCategory';
@import 'admin/admin';
@import 'allCategoryList/allCategoryList';
@import 'cartDetails/cartDetails';
@import 'customer/customer';
@import 'customerDashboard/customerDashboard';
@import 'distributor/distributor';
@import 'distributorDashboard/distributorDashboard';
@import 'main/main';
@import 'myroute/myroute';
@import 'orderdetails/orderdetails';
@import 'printinvoice/printinvoice';
@import 'productlist/productlist';
@import 'productPage/productPage';
@import 'setpassword/setpassword';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
/* endinject */
