<div class="container-fluid btmSpace" ng-hide="invoiceCtrl.btnClicked" style="background: white;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div>
                    <h1 class="head-line"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Invoice</h1>
                </div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Invoice</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="hr-width">
            </div>
        </div>

        <div class="col-md-12 padding-top-40">
            <form name="myForm" ng-submit="invoiceCtrl.cartDetails()">

                <div layout="row" layout-align="center" flex>
                    <md-input-container flex="50">
                        <label>Customer</label>
                        <md-select name="customer" ng-model="invoiceCtrl.customer" ng-change="invoiceCtrl.onCustomerChange(invoiceCtrl.customer)"
                            required>
                            <md-option ng-value="{{c._id}}" ng-repeat="c in invoiceCtrl.customerList">{{c.name}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="myForm.customer.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="center" flex>
                    <md-input-container flex="50">
                        <label>Distributor</label>
                        <md-select name="distributor" ng-model="invoiceCtrl.distributor" ng-change="invoiceCtrl.onDistributorChange(invoiceCtrl.distributor)"
                            required>
                            <md-option ng-value="{{c._id}}" ng-repeat="c in invoiceCtrl.distributorList">{{c.name}}</md-option>
                        </md-select>
                        <div class="errors" ng-messages="myForm.distributor.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center" flex>
                    <md-input-container flex="50">
                        <label>Product</label>
                        <md-select ng-model="invoiceCtrl.selectedProducts" md-on-close="invoiceCtrl.clearSearchTerm()"
                            data-md-container-class="selectdemoSelectHeader" multiple="" ng-change="invoiceCtrl.onProductChange(invoiceCtrl.selectedProducts)"
                            required>
                            <md-select-header class="demo-select-header">
                                <input ng-model="invoiceCtrl.searchTerm" type="search" placeholder="Search for a Product.."
                                    class="demo-header-searchbox md-text">
                            </md-select-header>
                            <md-optgroup label="Products">
                                <md-option ng-value="{{p}}" ng-repeat="p in invoiceCtrl.productList |
                                      filter:invoiceCtrl.searchTerm">{{p.product_name}}</md-option>
                            </md-optgroup>
                        </md-select>
                        <div class="errors" ng-messages="myForm.selectedProducts.$error">
                            <div ng-message="required">Required</div>
                        </div>
                    </md-input-container>
                </div>

                <div layout="row" layout-align="center" flex>
                    <md-input-container flex="50">
                        <button type="submit" class="btn btn-secondary btn-block" ng-disabled="!invoiceCtrl.distributor || !invoiceCtrl.customer || invoiceCtrl.cartArr.length == 0">Next</button>
                    </md-input-container>
                </div>
            </form>
        </div>


        <div class="col-md-12 padding-top-40 table-data" ng-if="invoiceCtrl.cartArr.length > 0">
            <div class="col-md-12">
                <h1 class="head-line">Selected Products</h1>
            </div>
            <div class="col-md-12">
                <hr class="hr-width">
            </div>
            <div class="col-md-12">
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>Product Name</th>
                                <th md-column>Capacity</th>
                                <th md-column>Remaining Quantity</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row md-auto-select ng-repeat="q in invoiceCtrl.cartArr">
                                <td md-cell>{{q.product_name}}</td>
                                <td md-cell>{{q.capacity}}</td>
                                <td md-cell>{{q.PurchaseEntry.quantity}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </div>
    </div>
</div>