<div class="container" style="padding-top: 30px;">
    <!-- <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
          </div>
          <ul class="nav navbar-nav">

            <li uib-dropdown is-open="status.isopen" ng-mouseover="status.isopen = true" ng-mouseleave="status.isopen = false">
              <a href id="home" uib-dropdown-toggle>Hom</a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="home">
                  <li><a href="" ng-click="$ctrl.profileClick()"><span class="spn">My Profile</span></a></li>
                  <li><a href="" ng-click="$ctrl.changePassClick()"><span class="spn">Change Password</span></a></li>
                  <li><a ui-sref="logout"><span class="spn">Logout</span></a></li>
                </ul>
            </li>
            
          </ul>
        </div>
      </nav> -->
    <!-- <div class="row" ng-if="productPageCtrl.cartArr.length != 0">
      <div class="alert alert-success">
        <div layout="row" layout-align="space between center">
          <div>
            <div><strong style="padding-right: 20px;">Added to Cart</strong>Cart subtotal ({{productPageCtrl.cartArr.length}} items): <i class="fa fa-inr" aria-hidden="true"></i>{{productPageCtrl.cartTotal}}</div>        
          </div>
          <div>
            <button class="btn btn-primary" ng-click="productPageCtrl.viewcart()">Cart</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row" ng-if="productPageCtrl.getCurrentUser().role == 'admin'">
      <div class="col-md-12" style="padding-bottom: 30px; width: 100%;">
          <div style="float: right;"><a href="#" class="btn btn-primary" ng-click="productPageCtrl.viewcart()" ng-disabled="productPageCtrl.cartArr.length == 0">Generate Invoice</a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" ng-repeat="prod in productPageCtrl.productList">
        <div class="latest-news">
          <div class="latest-date-img">
            <!-- <h4 class="date">3<br>Feb</h4> -->
            <img src="{{prod.product_photo}}" alt="img" class="latest-img"/>
            <div class="overlay-4"></div>
          </div>
          <div class="latest-desc">
            <h4 class="title">{{prod.product_name}}</h4>
            <div class="author"><span>Rs. </span>{{prod.unitprice}}</div>
            <!-- <p class="desc">{{prod.product_description}}</p> -->
            <div class="latest-link"><a href="#" ng-click="productPageCtrl.addToCart(prod)" ng-if="productPageCtrl.getCurrentUser().role == 'admin'">ADD TO QUOTE</a></div>
            <div class="latest-link"><a href="#" ng-click="">View Details</a></div>
          </div>
        </div>
    </div>
</div>