<nav class="navbar navbar-default product-nav">
  <div class="container-fluid">
    <ul class="nav navbar-nav product-nav-links">
      <!-- <li class="active" ng-click="productlistCtrl.showhide($index)" ng-class="{active: $index===0}"><a href="#">All</a></li> -->
      <li ng-repeat="cat in productlistCtrl.catList" ng-click="productlistCtrl.getcat($index, cat)" ng-class="{active: $index===productlistCtrl.selectedIndex}"><a
          href="#">{{cat.category_name}}</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid padding-top-40 padding-bottom-80 bgWhite">
  <!-- <div class="row" ng-if="productlistCtrl.getCurrentUser().role == 'admin'">
    <div class="col-md-12" style="padding-bottom: 30px; width: 100%;">
        <div class="col-sm-3">
            <select class="form-control" ng-model="customer" name="customer" ng-change="productlistCtrl.onCustomerChange(customer)" required>
                <option value="">Select Customer</option>
                <option ng-repeat="customer in productlistCtrl.customerList" value="{{customer._id}}">{{customer.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="distributor" name="distributor" ng-change="productlistCtrl.onDistributorChange(distributor)" required>
                <option value="">Select Distributor</option>
                <option ng-repeat="distributor in productlistCtrl.distributorList" value="{{distributor._id}}">{{distributor.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-info btn-block" ng-click="productlistCtrl.viewcart()" ng-disabled="customer == undefined || distributor == undefined || productlistCtrl.cartArr.length == 0">Generate Invoice</button>
        </div>

        <input type='text' ng-model='productlistCtrl.searchText' placeholder="Search" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="prod in productlistCtrl.productList | filter:{ 'product_name': productlistCtrl.searchText}">
      <div class="latest-news">
        <div class="latest-date-img">
          <img src="{{prod.product_photo}}" alt="img" class="latest-img"/>
          <div class="overlay-4"></div>
        </div>
        <div class="latest-desc">
          <h4 class="title">{{prod.product_name}}</h4>
          <div class="author"><span>Rs. </span>{{prod.unitprice}}</div>
          <p class="desc">{{prod.product_description}}</p>
          <div class="latest-link" ng-if="!prod.active"><a href="#" ng-click="productlistCtrl.addToCart(prod)" ng-if="productlistCtrl.getCurrentUser().role == 'admin'">ADD TO QUOTE</a></div>
          <div class="latest-link" ng-if="prod.active"><button class="btn btn-warn" disabled>Quote Added</button></div>
          <div class="latest-link"><a href="#" ng-click="productlistCtrl.viewproduct(prod)">View Details</a></div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="row" ng-if="productlistCtrl.getCurrentUser().role == 'admin'">
    <div class="col-md-12" style="padding-bottom: 30px; width: 100%;">
        <div class="col-sm-3">
            <select class="form-control" ng-model="customer" name="customer" ng-change="productlistCtrl.onCustomerChange(customer)" required>
                <option value="">Select Customer</option>
                <option ng-repeat="customer in productlistCtrl.customerList" value="{{customer._id}}">{{customer.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" ng-model="distributor" name="distributor" ng-change="productlistCtrl.onDistributorChange(distributor)" required>
                <option value="">Select Distributor</option>
                <option ng-repeat="distributor in productlistCtrl.distributorList" value="{{distributor._id}}">{{distributor.name}}</option>
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-info btn-block" ng-click="productlistCtrl.viewcart()" ng-disabled="customer == undefined || distributor == undefined || productlistCtrl.cartArr.length == 0">Generate Invoice</button>
        </div>

        <input type='text' ng-model='productlistCtrl.searchText' placeholder="Search" />
    </div>
  </div> -->
  <!-- <div class="row1" style="padding: 0px 100px;"> -->
  <div class="col-md-12 col-lg-12">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div>
        <div class="search-box">
          <input class="search-inp" type='text' ng-model='productlistCtrl.searchText' placeholder="Search">
          <button class="search-btn-icon"><i class="zmdi zmdi-search"></i></button>
        </div>

        <div class="side-list padding-top-40" ng-if="productlistCtrl.subList.length > 0 || productlistCtrl.catList.length > 0">
          <h4 class="left-heading-h4">Categories</h4>

          <ul ng-if="productlistCtrl.selectedIndex != 0">
            <li class="list-box" ng-repeat="sub in productlistCtrl.subList" ng-click="productlistCtrl.getsubcat($index, sub)">
              <a href="#">{{sub.sub_category_name}}</a>
            </li>
          </ul>

          <ul ng-if="productlistCtrl.selectedIndex == 0">
            <li class="list-box" ng-repeat="cat in productlistCtrl.catList" ng-click="productlistCtrl.getcat($index, cat)">
              <a href="#">{{cat.category_name}}</a>
            </li>
          </ul>
        </div>

        <!-- <div ng-if="productlistCtrl.getCurrentUser().role == 'admin'" class="padding-top-20">
          <div class="form-group">
            <select class="form-control" ng-model="productlistCtrl.customer" name="customer" ng-change="productlistCtrl.onCustomerChange(productlistCtrl.customer)"
              required>
              <option value="">Select Customer</option>
              <option ng-if="!productlistCtrl.rFlag" ng-repeat="customer in productlistCtrl.customerList" value="{{customer._id}}">{{customer.name}}</option>
              <option ng-if="productlistCtrl.rFlag" ng-repeat="customer in productlistCtrl.customerList" ng-value="{{customer._id}}">{{customer.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" ng-model="productlistCtrl.distributor" name="distributor" ng-change="productlistCtrl.onDistributorChange(productlistCtrl.distributor)"
              required>
              <option value="">Select Distributor</option>
              <option ng-if="!productlistCtrl.rFlag" ng-repeat="distributor in productlistCtrl.distributorList" value="{{distributor._id}}">{{distributor.name}}</option>
              <option ng-if="productlistCtrl.rFlag" ng-repeat="distributor in productlistCtrl.distributorList" ng-value="{{distributor._id}}">{{distributor.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-block new-btn" ng-click="productlistCtrl.viewcart()" ng-disabled="productlistCtrl.customer == undefined || productlistCtrl.distributor == undefined || productlistCtrl.cartArr.length == 0">Generate
              Invoice</button>
          </div>
        </div> -->
      </div>
    </div>

    <div class="col-sm-6 col-md-8 col-lg-9">
      <div ng-if="!productlistCtrl.noData" class="col-sm-6 col-md-4 col-lg-4" ng-repeat="prod in productlistCtrl.productList | filter:{ 'product_name': productlistCtrl.searchText}">
        <div class="latest-news">
          <div class="latest-date-img">
            <img src="{{prod.product_photo}}" alt="img" class="latest-img" />
            <div class="overlay-4"></div>
          </div>
          <div class="latest-desc">
            <h4 class="title">{{prod.product_name}}</h4>
            <!-- <div class="author"><span>Rs. </span>{{prod.unitprice}}</div>
            <p class="desc">{{prod.product_description}}</p> -->
            <div class="latest-link" ng-if="!prod.qadded && prod.quantity > 0" style="padding: 17px 0px;"><a href="#"
                ng-click="productlistCtrl.addToCart(prod)" ng-if="productlistCtrl.getCurrentUser().role == 'admin'">ADD
                TO CART</a></div>
            <div class="latest-link" ng-if="prod.qadded"><button class="btn btn-warn" disabled>Cart Added</button></div>
            <div class="latest-link" ng-if="prod.quantity < 1"><button class="btn btn-warn" disabled>Out of Stock</button></div>
            <div class="latest-link"><a href="#" ng-click="productlistCtrl.viewproduct(prod)">View Details</a></div>
          </div>
        </div>
      </div>

      <div ng-if="productlistCtrl.noData">
        <div style="margin: auto; padding-top: 40px; text-align: center;">
          <i class="fa fa-search fa-4x" aria-hidden="true"></i>
          <h1>No Products Found</h1>
        </div>

      </div>
    </div>

  </div>
</div>