.product-nav {
    border-radius: 0px;
    background: #546E7A;
    border: none;
}
.product-nav-links {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      a {
          color: rgb(226, 221, 221) !important;
      }
    }
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: black !important;
    background-color: white;
}
.padding-bottom-80 {
    padding-bottom: 80px;
}
.search-box {
    border: 1px solid #e6e6e6;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
.search-inp {
    font-size: 15px;
    line-height: 1.466667;
    color: #333;
    width: 100%;
    height: 45px;
    padding-left: 28px;
    padding-right: 55px;
    display: block; 
    outline: none;
    border: none;
}
.search-inp::-webkit-input-placeholder { color: #888;}
.search-inp:-moz-placeholder { color: #888;}
.search-inp::-moz-placeholder { color: #888;}
.search-inp:-ms-input-placeholder { color: #888;}
.search-btn-icon {
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 100%;
    position: absolute;
	right: 0px;
    top: 0px;
    font-size: 18px;
    color: #999;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    border: none;
    background: none;
}
.left-heading-h4 {
    font-size: 22px;
    line-height: 1.333333;
    color: #333;
    padding-bottom: 33px;
    margin: 0px;
}
.side-list {
    ul, li {
        margin: 0px;
        list-style-type: none;
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;
        text-decoration: none;
    }
}
.list-box {
    border-top: 1px solid #e6e6e6;
    a {
        display: block;
        font-size: 15px;
        line-height: 1.666667;
        color: #888;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
        padding: 8px 4px;
        font-size: 16px;
        text-decoration: none;
    }
}
.padding-top-20 {
    padding-top: 20px;
}
