$p-color: #546E7A;
$p-hover: #37474F;

.al-breadcrumb {
    padding: 0;
    margin: 0;
    float: right; 
    background: none; 
    font-size: 18px;
}
.al-breadcrumb li > a {
    color: #0077B5;
}
.al-breadcrumb li > a:hover {
    text-decoration: none;
}
.icon-btn {
    background: $p-color;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}
.icon-btn:hover {
    background: $p-hover;
}
.new-btn {
    border-radius: 0px; 
    height: 45px; 
    font-size: 16px; 
    color: #fff; 
    background-color: $p-color; 
    border-color: $p-color;
}
.new-btn:hover, .new-btn:focus, .new-btn:active {
    background-color: $p-hover !important; 
    border-color: $p-hover !important;
}
.cancel-btn {
    border-radius: 0px; 
    height: 45px; 
    font-size: 16px;
    color: #fff; 
    background-color: #dc3545; 
    border-color: #dc3545;
}
.cancel-btn:hover, .cancel-btn:focus, .cancel-btn:active {
    background-color: #da1c2f; 
    border-color: #da1c2f;
}
.head-line {
    color: $p-hover; 
    font-size: 24px; 
    margin: 0px;
}
#icon-right-5 {
    padding-right: 5px;
}
.hr-width {
    width: 100%;
}
.card-i-div {
    height: 120px; 
    width: 120px;
    .card-img {
        height: 120px; 
        width: 120px;
    }
}
.card-content-div {
    padding: 1px 20px;
    .card-p-email {
        color: #263238; 
        font-size: 15px;
    }
    .card-p-num {
        color: #263238; 
        font-size: 14px;
    }
    .card-btn {
        width: 100px;
    }
}
