<div class="container-fluid btmSpace">
    <md-content ng-hide="distributorCtrl.flag">
        <md-card>
            <div class="md-padding" layout="row" layout-align="space between start" layout-xs="column" layout-sm="column"  layout-align-xs="center center" layout-align-sm="center center">
                <h4>Distributor</h4>
                <button type="button" class="btn btn-success" ng-click="distributorCtrl.clickNew()">New Distributor</button>
            </div> 
            <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column>Photo</th> 
                                <th md-column>Name</th>
                                <th md-column>Email</th>
                                <th md-column>Mobile Number</th>
                                <th md-column>Address</th>
                                <th md-column>Action</th>
                            </tr>
                        </thead>
                        <tbody md-body>   
                            <tr md-row md-auto-select ng-repeat="distributor in distributorCtrl.distributorList
                                                                | orderBy: distributorCtrl.query.order 
                                                                | limitTo: distributorCtrl.query.limit : (distributorCtrl.query.page -1) * distributorCtrl.query.limit">
                                

                                <td md-cell ><div class="imgDiv"><img ng-src="{{(distributor.UserProfile.profilepic == null) ? '/assets/images/def.svg' : distributor.UserProfile.profilepic}}" class="img-circle img-responsive tblImg"/></div></td>
                                <td md-cell>{{distributor.name}}</td>
                                <td md-cell>{{distributor.email}}</td>
                                <td md-cell>{{distributor.mobilenumber}}</td>
                                <td md-cell>{{distributor.UserProfile.address}}</td>

                                <td md-cell>
                                    <button type="button" class="btn btn-info"  ng-click="distributorCtrl.edit(distributor)">Edit</button>
                                    <button type="button" class="btn btn-danger"  ng-click="distributorCtrl.confirmDelete(distributor, $event)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="distributorCtrl.query.limit" md-limit-options="distributorCtrl.limitOptions" 
                    md-page="distributorCtrl.query.page" md-total="{{distributorCtrl.distributorList.length}}" 
                    md-page-select="distributorCtrl.options.pageSelect" md-boundary-links="distributorCtrl.options.boundaryLinks" 
                    md-on-paginate="logPagination">
                </md-table-pagination>

            <div layout="row" layout-align="center center"> 
                <div class="alert alert-danger" ng-if="distributorCtrl.errMsg">
                     {{distributorCtrl.errMsg}}
                </div>
            </div>    
        </md-card>
    </md-content>

    <md-content ng-show="distributorCtrl.flag">
        <md-card>
            <md-card-content>
                <div class="md-padding" layout="row" layout-align="space between start" layout-xs="column" layout-sm="column"  layout-align-xs="center center" layout-align-sm="center center">
                    <h4>Distributor</h4>
                </div>
                <form name="uForm" ng-submit="distributorCtrl.save()" validate>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="col-sm-12 col-md-3 col-lg-3">
                            <div class="imgCover"><img class="form-group img-circle imgStyle" ng-src="{{distributorCtrl.def}}"></div>
                            <input type='file'  maxsize="3072" ng-model='distributorCtrl.profilepic' accept="image/*" ng-change="distributorCtrl.picChange(distributorCtrl.profilepic)" base-sixty-four-input>
                            <div class="has-error" layout="row" layout-align="center center">
                                <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 3 Mb</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9 col-lg-9">
                            <div class="form-horizontal">
                                <div class="form-group topSpace">
                                    <label class="control-label col-sm-3 col-md-3">Role</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="distributorCtrl.user.role" name="role" disabled>
                                            <option value="">Select Role</option>
                                            <option ng-repeat="role in distributorCtrl.allRoles" value="{{role.roleName}}">{{role.roleName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3">Full Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="fullname" class="form-control" placeholder="Full Name" ng-model="distributorCtrl.user.name" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-3 col-md-3">Email</label>
                                    <div class="col-sm-6">
                                        <input type="text" name="email" class="form-control" placeholder="Email" ng-model="distributorCtrl.user.email" required/>                         
                                    </div>
                                </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Mobile Number</label>
                                        <div class="col-sm-6">
                                            <input type="text" name="mobileNumber" class="form-control" placeholder="Mobile number" ng-model="distributorCtrl.user.mobilenumber" required/>
                                         </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Address</label>
                                        <div class="col-sm-6">
                                            <textarea class="form-control" rows="4" name="address"  placeholder="Address" ng-model="distributorCtrl.user.address" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Country</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="distributorCtrl.user.country_id" name="companyCountry" ng-change="distributorCtrl.user.state_id=null; distributorCtrl.user.city_id=null; distributorCtrl.getStates(distributorCtrl.user.country_id)" required>
                                                <option value="">Select Country</option>
                                                <option ng-repeat="country in distributorCtrl.country" ng-if="!distributorCtrl.isEdit" value="{{country._id}}">{{country.countryName}}</option>
                                                <option ng-repeat="country in distributorCtrl.country" ng-if="distributorCtrl.isEdit" ng-value="{{country._id}}">{{country.countryName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">State</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" ng-model="distributorCtrl.user.state_id" name="companyState" ng-change="distributorCtrl.user.city_id=null; distributorCtrl.getCities(distributorCtrl.user.state_id)" required>
                                                <option value="">Select State</option>
                                                <option ng-repeat="state in distributorCtrl.states" ng-if="!distributorCtrl.isEdit" value="{{state._id}}">{{state.stateName}}</option>
                                                <option ng-repeat="state in distributorCtrl.states" ng-if="distributorCtrl.isEdit" ng-value="{{state._id}}">{{state.stateName}}</option>
                                            </select>
                                          </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">City</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" name"companyCity" ng-model="distributorCtrl.user.city_id">
                                                <option value="">Select City</option>
                                                <option ng-repeat="city in distributorCtrl.cities" ng-if="!distributorCtrl.isEdit" value="{{city._id}}">{{city.cityName}}</option>
                                                <option ng-repeat="city in distributorCtrl.cities" ng-if="distributorCtrl.isEdit" ng-value="{{city._id}}">{{city.cityName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3">Zip</label>
                                        <div class="col-sm-6">
                                             <input type="tel" name="zip" class="form-control" placeholder="Zip" ng-model="distributorCtrl.user.zip"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-sm-3 col-md-3"></label>
                                        <div class="col-sm-6">
                                            <md-button class="md-raised md-primary btnWidth" ng-if="!distributorCtrl.isEdit" type="submit">Add</md-button>
                                            <md-button class="md-raised md-primary btnWidth" ng-if="distributorCtrl.isEdit" type="submit">Save</md-button>
                                            <md-button class="md-raised md-accent btnWidth" ng-click="distributorCtrl.cancel()">Cancel</md-button>                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                            <div layout="row" layout-align="center center" class="alert alert-danger" ng-if="distributorCtrl.errMsg">
                                {{distributorCtrl.errMsg}}
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
       
    </md-content>
</div>