<div class="container-fluid btmSpace" style="background: white;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 padding-top-40" layout="row" layout-align="space-between center">
                <div><h1 class="head-line"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add Product</h1></div>
                <div>
                    <ol class="breadcrumb al-breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Add Product</li>
                    </ol>
                </div>
            </div>
            <div class="col-md-12"><hr class="hr-width"></div>
        </div>

        <div class="col-md-12 padding-top-40">
            <form name="uForm" ng-submit="addProductCtrl.save()">
                <div>
                    <div class="product-img-cover"><img class="form-group product-img-style" ng-src="{{addProductCtrl.def}}"></div>
                    <div layout="row" layout-align="center center" class="md-padding">
                        <input type='file'  maxsize="3072" ng-model='addProductCtrl.product_def_pic' accept="image/*" ng-change="addProductCtrl.picChange(addProductCtrl.product_def_pic)" required base-sixty-four-input>
                    </div>
                    <div class="has-error" layout="row" layout-align="center center">
                        <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 3 Mb</p>
                    </div>
                </div>

                <div class="topSpace">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="form-control" ng-model="addProductCtrl.productObj.category_id" name="category_id" ng-change="addProductCtrl.onCategoryChange(addProductCtrl.productObj.category_id)" required>
                                <option value="">Select Category</option>
                                <option ng-repeat="category in addProductCtrl.categoryList" value="{{category._id}}">{{category.category_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="form-control" ng-model="addProductCtrl.productObj.sub_category_id" name="sub_category_id" required>
                                <option value="">Select Sub-category</option>
                                <option ng-repeat="sub in addProductCtrl.subCategoryList" value="{{sub._id}}">{{sub.sub_category_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addProductCtrl.productObj.product_name" placeholder="Enter Product name" name="productname" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addProductCtrl.productObj.unitprice" placeholder="Enter Unit price" name="unitprice" required>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea type="text" rows="2" class="form-control" ng-model="addProductCtrl.productObj.product_description" placeholder="Enter Description" name="productdesc" required></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addProductCtrl.productObj.quantity" placeholder="Enter Quantity" name="quantity" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <select class="form-control" ng-model="addProductCtrl.productObj.hsn_id" name="hsn_id" required>
                                <option value="">Select HSN code</option>
                                <option ng-repeat="hsn in addProductCtrl.hsnList" value="{{hsn._id}}">{{hsn.hsn_code}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="addProductCtrl.productObj.discount" placeholder="Enter Discount" name="productdiscount" required/>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-4">
                        <label class="control-label col-sm-2">Brochure: </label>
                        <div class="form-group">
                            <input type='file' ng-model="addProductCtrl.brochure" ng-change="addProductCtrl.brochureChange(addProductCtrl.brochure)" base-sixty-four-input>
                        </div>
                    </div>
                </div>

                <div class="topSpace">

                    <!-- Category 2 -->
                    <div class="col-md-12 padding-left-right-0" ng-if="addProductCtrl.productObj.category_id == 2">
                        
                        <div class="col-md-12 padding-left-right-0">
                            <div class="col-md-12"><h1 class="head-line">Electrical Data<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="peak" placeholder="Peak Power Watts-PMAX (Wp)"
                                            ng-model="addProductCtrl.electrical_data.peak_power_watts_pmax"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="vmpp" placeholder="Maximum Power Voltage-VMPP (V)"
                                            ng-model="addProductCtrl.electrical_data.maximum_power_voltage_vmpp"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="impp" placeholder="Maximum Power Current-IMPP (A)"
                                            ng-model="addProductCtrl.electrical_data.maximum_power_current_impp"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addRow()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Peak Power Watts-PMAX (Wp)</th>
                                        <th>Maximum Power Voltage-VMPP (V)</th>
                                        <th>Maximum Power Current-IMPP (A)</th>
                                    </tr>
                                    <tr ng-repeat="list in addProductCtrl.elist">
                                        <td>{{list.peak_power_watts_pmax}}</td>
                                        <td>{{list.maximum_power_voltage_vmpp}}</td>
                                        <td>{{list.maximum_power_current_impp}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 padding-left-right-0 padding-top-40">
                            <div class="col-md-12"><h1 class="head-line">Mechanical Data<hr></h1></div>

                            <div class="col-md-12 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.solar_cell" placeholder="Soloar Cell" name="solarcell" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.cell_orientation" placeholder="Cell Orientation" name="orientation" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.module_dimensions" placeholder="Module Dimensions" name="module_dimensions" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.weight" placeholder="Weight" name="weight" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.glass" placeholder="Glass" name="glass" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 padding-left-right-0 padding-top-40">
                            <div class="col-md-12"><h1 class="head-line">Special Features<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="spl_feature" placeholder="Special Features"
                                            ng-model="addProductCtrl.spl_feature.feature_name" />
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addFeature()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul ng-repeat="spl in addProductCtrl.slist">
                                    <li>{{spl.feature_name}}</li>
                                </ul> 
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 padding-left-right-0" ng-if="addProductCtrl.productObj.category_id == 3">
                        <div class="col-md-12 padding-left-right-0">
                            <div class="col-md-12"><h1 class="head-line">Input DC<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="model" placeholder="Model"
                                            ng-model="addProductCtrl.input_dc.model" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="maxdcpower" placeholder="Max DC Power"
                                            ng-model="addProductCtrl.input_dc.max_dc_power" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="opv_range" placeholder="Operating Voltage Range"
                                            ng-model="addProductCtrl.input_dc.operating_voltage_range"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="mppv_range" placeholder="MPP Voltage range"
                                            ng-model="addProductCtrl.input_dc.mpp_voltage_range" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="startup_votage" placeholder="Startup Voltage"
                                            ng-model="addProductCtrl.input_dc.startup_votage" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="max_input_current" placeholder="Max input Current"
                                            ng-model="addProductCtrl.input_dc.max_input_current"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addInputDC()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Model</th>
                                        <th>Max DC Power</th>
                                        <th>Operating Voltage Range</th>
                                        <th>MPP Voltage Range</th>
                                        <th>Startup Voltage</th>
                                        <th>Max input Current</th>
                                    </tr>
                                    <tr ng-repeat="list in addProductCtrl.elist">
                                        <td>{{list.peak_power_watts_pmax}}</td>
                                        <td>{{list.maximum_power_voltage_vmpp}}</td>
                                        <td>{{list.maximum_power_current_impp}}</td>
                                        <td>{{list.peak_power_watts_pmax}}</td>
                                        <td>{{list.maximum_power_voltage_vmpp}}</td>
                                        <td>{{list.maximum_power_current_impp}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 padding-left-right-0 padding-top-40">
                            <div class="col-md-12"><h1 class="head-line">Output AC<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">

                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="opmodel" placeholder="Model"
                                            ng-model="addProductCtrl.output_dc.model" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="output_power" placeholder="Output Power"
                                            ng-model="addProductCtrl.output_dc.output_power" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fq_range" placeholder="Frequency Range"
                                            ng-model="addProductCtrl.output_dc.frequency_range"/>
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addOutputDC()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Model</th>
                                        <th>Output Power</th>
                                        <th>Frequency Range</th>
                                    </tr>
                                    <tr ng-repeat="list in addProductCtrl.elist">
                                        <td>{{list.peak_power_watts_pmax}}</td>
                                        <td>{{list.maximum_power_voltage_vmpp}}</td>
                                        <td>{{list.maximum_power_current_impp}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 padding-left-right-0 padding-top-40">
                            <div class="col-md-12"><h1 class="head-line">Special Features<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="spl_feature" placeholder="Special Features"
                                            ng-model="addProductCtrl.spl_feature.feature_name" />
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addFeature()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul ng-repeat="spl in addProductCtrl.slist">
                                    <li>{{spl.feature_name}}</li>
                                </ul> 
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 padding-left-right-0" ng-if="addProductCtrl.productObj.category_id == 4">
                        <div class="col-md-12 padding-left-right-0">
                            <div class="col-md-12"><h1 class="head-line">Solar Kits<hr></h1></div>
    
                            <div class="col-md-12 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.peak_power" placeholder="Peak Power" name="peakpower" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.solar_panel" placeholder="Solar Panel" name="solarpanel" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.inverter" placeholder="Inverter - Single Phase/Three Phase" name="inverter" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.inverter_max_efficiency" placeholder="Inverter Max Efficiency" name="inverter_max_efficiency" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.dc_wiring" placeholder="DC Wiring" name="dc_wiring" required>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.ac_wiring" placeholder="AC Wiring" name="ac_wiring" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.grounding_cable" placeholder="Grounding Cable" name="grounding_cable" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.ajb_acdb" placeholder="AJB/ACDB" name="ajb_acdb" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.structure" placeholder="STRUCTURE (FLAT/ TILE / STEEL ROOF)" name="structure" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="addProductCtrl.solarkits.monitoring" placeholder="MONITORING" name="monitoring" required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="col-md-4 col-md-offset-4">	
                                        <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addFeature()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                    </div>
                                </div>

                                <div class="col-md-12 padding-top-40">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Peak Power</th>
                                            <th>Solar Panel</th>
                                            <th>Inverter</th>
                                            <th>Inverter Max Efficiency</th>
                                            <th>DC Wiring</th>
                                            <th>AC Wiring</th>
                                            <th>Grounding Cable</th>
                                            <th>AJB/ACDB</th>
                                            <th>Structure</th>
                                            <th>Monitoring</th>
                                        </tr>
                                        <tr ng-repeat="list in addProductCtrl.elist">
                                            <td>{{list.peak_power_watts_pmax}}</td>
                                            <td>{{list.maximum_power_voltage_vmpp}}</td>
                                            <td>{{list.maximum_power_current_impp}}</td>
                                            <td>{{list.peak_power_watts_pmax}}</td>
                                            <td>{{list.maximum_power_voltage_vmpp}}</td>
                                            <td>{{list.maximum_power_current_impp}}</td>
                                            <td>{{list.maximum_power_voltage_vmpp}}</td>
                                            <td>{{list.maximum_power_current_impp}}</td>
                                            <td>{{list.peak_power_watts_pmax}}</td>
                                            <td>{{list.maximum_power_voltage_vmpp}}</td>
                                            <td>{{list.maximum_power_current_impp}}</td>
                                        </tr>
                                    </table>
                                </div>
                                
                            </div>
                        </div>

                        <div class="col-md-12 padding-left-right-0 padding-top-40">
                            <div class="col-md-12"><h1 class="head-line">Special Features<hr></h1></div>

                            <div class="col-md-6 padding-left-right-0">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="spl_feature" placeholder="Special Features"
                                            ng-model="addProductCtrl.spl_feature.feature_name" />
                                    </div>
                                </div>
                                <div class="col-sm-12">	
                                    <button type="button" class="btn btn-primary btn-block new-btn" ng-click="addProductCtrl.addFeature()"><i class="fa fa-plus" aria-hidden="true" id="icon-right-5"></i>Add</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <ul ng-repeat="spl in addProductCtrl.slist">
                                    <li>{{spl.feature_name}}</li>
                                </ul> 
                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- Save and Cancel Btn -->
                <div class="topSpace">
                    <div class="col-md-12 padding-left-right-0 padding-top-40" layout="row" layout-align="center center">
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-primary btn-block new-btn" ng-disabled="addProductCtrl.btnClicked">Save</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-danger btn-block cancel-btn" ng-click="addProductCtrl.cancel()">Cancel</button>
                        </div>
                    </div>
                </div>

                <!-- Error Msg -->
                <div class="col-md-12" layout="row" layout-align="center center" class="alert alert-danger" ng-if="addProductCtrl.errMsg">
                    <p class="tooltips">{{addProductCtrl.errMsg}}</p>
                </div>

            </form>
        </div>

        <!-- <form class="form-horizontal" name="uForm" ng-submit="addProductCtrl.save()">
            <div class="col-lg-4">
                <div class="product-img-cover"><img class="form-group product-img-style" ng-src="{{addProductCtrl.def}}"></div>
                <input type='file'  maxsize="3072" ng-model='addProductCtrl.product_def_pic' accept="image/*" ng-change="addProductCtrl.picChange(addProductCtrl.product_def_pic)" required base-sixty-four-input>
                <div class="has-error" layout="row" layout-align="center center">
                    <p class="help-block" ng-show="uForm.image.$error.maxsize">Image File must not exceed 3 Mb</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">Category:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="addProductCtrl.productObj.category_id" name="category_id" ng-change="addProductCtrl.onCategoryChange(addProductCtrl.productObj.category_id)" required>
                            <option value="">Select Category</option>
                            <option ng-repeat="category in addProductCtrl.categoryList" value="{{category._id}}">{{category.category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="subcategory">Sub-category:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="addProductCtrl.productObj.sub_category_id" name="sub_category_id" required>
                            <option value="">Select Sub-category</option>
                            <option ng-repeat="sub in addProductCtrl.subCategoryList" value="{{sub._id}}">{{sub.sub_category_name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productname">Product Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addProductCtrl.productObj.product_name" placeholder="Enter Product name" name="productname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productdesc">Description:</label>
                    <div class="col-sm-10">
                        <textarea type="text" row="3" class="form-control" ng-model="addProductCtrl.productObj.product_description" placeholder="Enter Description" name="productdesc" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productname">Quantity:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addProductCtrl.productObj.quantity" placeholder="Enter Quantity" name="quantity" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productname">Unit price:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addProductCtrl.productObj.unitprice" placeholder="Enter Unit price" name="unitprice" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="category">HSN code:</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="addProductCtrl.productObj.hsn_id" name="hsn_id" required>
                            <option value="">Select HSN code</option>
                            <option ng-repeat="hsn in addProductCtrl.hsnList" value="{{hsn._id}}">{{hsn.hsn_code}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productname">Discount:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addProductCtrl.productObj.discount" placeholder="Enter Discount" name="productname" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Brochure</label>
                    <div class="col-sm-10">
                        <input type='file' ng-model='brochure' ng-change="addProductCtrl.brochureChange(brochure)" base-sixty-four-input>
                    </div>
                </div>
            </div>
            <div class="col-lg-12"></div>

            <div ng-if="addProductCtrl.productObj.category_id == 2">
                <div class="col-lg-12"><h4>Product specifications<hr></h4></div>
                <div class="col-lg-12" style="text-align: center;"><h4>Electrical Data<hr></h4></div>
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        <label class="col-lg-7 control-label">Peak Power Watts-PMAX (Wp)</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="name"
                                ng-model="addProductCtrl.electrical_data.peak_power_watts_pmax"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Maximum Power Voltage-VMPP (V)</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="employees"
                                ng-model="addProductCtrl.electrical_data.maximum_power_voltage_vmpp"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Maximum Power Current-IMPP (A)</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.maximum_power_current_impp"/>
                        </div>
                    </div>
                    <div class="form-group">	
                        <div class="col-md-7"></div>						
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-block" ng-click="addProductCtrl.addRow()">Add</a>
                        </div>
                    </div>
                        
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Peak Power Watts-PMAX (Wp)</th>
                            <th>Maximum Power Voltage-VMPP (V)</th>
                            <th>Maximum Power Current-IMPP (A)</th>
                        </tr>
                        <tr ng-repeat="list in addProductCtrl.elist">
                            <td>{{list.peak_power_watts_pmax}}</td>
                            <td>{{list.maximum_power_voltage_vmpp}}</td>
                            <td>{{list.maximum_power_current_impp}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12" style="text-align: center;"><h4><hr>Mechanical Data<hr></h4></div>

                <div class="col-lg-12 col-lg-offset-2">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productname">Soloar Cell</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.solar_cell"  name="solarcell" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productdesc">Cell Orientation</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.cell_orientation"  name="orientation" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productname">Module Dimensions</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.module_dimensions"  name="module_dimensions" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productname">Weight</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.weight"  name="weight" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productname">Glass</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="addProductCtrl.mech_data.glass"  name="glass" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="productname">Brochure</label>
                            <div class="col-sm-6">
                                <input type="file" name="pic" accept="image/*">
                            </div>
                        </div>

                </div>

                <div class="col-lg-12" style="text-align: center;"><h4><hr>Special Features<hr></h4></div>

                <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Feature</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="headoffice"
                                    ng-model="addProductCtrl.spl_feature.feature_name" />
                            </div>
                        </div>
                        <div class="form-group">	
                            <div class="col-md-4"></div>						
                            <div class="col-md-6">
                                <a class="btn btn-primary btn-block" ng-click="addProductCtrl.addFeature()">Add</a>
                            </div>
                        </div>
                </div>

                <div class="col-lg-6">
                        <ul ng-repeat="spl in addProductCtrl.slist">
                            <li>{{spl.feature_name}}</li>
                        </ul> 
                </div>
            </div>

            <div ng-if="addProductCtrl.productObj.category_id == 3">
                <div class="col-lg-12"><h4>Product specifications<hr></h4></div>
                <div class="col-lg-12" style="text-align: center;"><h4>Input DC<hr></h4></div>
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        <label class="col-lg-7 control-label">Model</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="name"
                                ng-model="addProductCtrl.electrical_data.wp" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Max DC Power</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="employees"
                                ng-model="addProductCtrl.electrical_data.v" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Operating Voltage Range</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">MPP Voltage range</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Startup Voltage</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Max input Current</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">	
                        <div class="col-md-7"></div>						
                        <div class="col-md-4">
                            <input value="Add" class="btn btn-primary btn-block" ng-click="addProductCtrl.addRow()"/>
                        </div>
                    </div>
                        
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Model</th>
                            <th>Max DC Power</th>
                            <th>Operating Voltage range</th>
                            <th>MPP Voltage range</th>
                            <th>Startup Voltage</th>
                            <th>Max input current</th>
                        </tr>
                        <tr ng-repeat="list in addProductCtrl.elist">
                            <td>{{list.wp}}</td>
                            <td>{{list.v}}</td>
                            <td>{{list.a}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12" style="text-align: center;"><h4><hr>Output DC<hr></h4></div>
              
                <div class="col-lg-6">
                    
                    <div class="form-group">
                        <label class="col-lg-7 control-label">Model</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" name="name"
                                ng-model="addProductCtrl.electrical_data.wp" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Output Power</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="employees"
                                ng-model="addProductCtrl.electrical_data.v" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Frequency Range</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Nominal Power</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-7 control-label">Max Power</label>
                        <div class="col-md-4">
                            <input type="text" class="form-control" name="headoffice"
                                ng-model="addProductCtrl.electrical_data.a" />
                        </div>
                    </div>
                    
                    <div class="form-group">	
                        <div class="col-md-7"></div>						
                        <div class="col-md-4">
                            <input value="Add" class="btn btn-primary btn-block" ng-click="addProductCtrl.addRow()"/>
                        </div>
                    </div>
                        
                </div>
                <div class="col-lg-6">
                    <table class="table table-bordered">
                        <tr>
                            <th>Model</th>
                            <th>Output Power</th>
                            <th>frequency range</th>
                            <th>Nominal per</th>
                            <th>Max power</th>
                        </tr>
                        <tr ng-repeat="list in addProductCtrl.elist">
                            <td>{{list.wp}}</td>
                            <td>{{list.v}}</td>
                            <td>{{list.a}}</td>
                        </tr>
                    </table>
                </div>

                <div class="col-lg-12" style="text-align: center;"><h4><hr>Brochure<hr></h4></div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="productname">Brochure</label>
                    <div class="col-sm-6">
                        <input type="file" name="pic" accept="image/*">
                    </div>
                </div>

                <div class="col-lg-12" style="text-align: center;"><h4><hr>Special Features<hr></h4></div>

                <div class="col-lg-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Feature</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="headoffice"
                                    ng-model="addProductCtrl.spl_feature.feature" />
                            </div>
                        </div>
                        <div class="form-group">	
                            <div class="col-md-4"></div>						
                            <div class="col-md-6">
                                <input value="Add" class="btn btn-primary btn-block" ng-click="addProductCtrl.addFeature()"/>
                            </div>
                        </div>
                </div>

                <div class="col-lg-6">
                        <ul ng-repeat="spl in addProductCtrl.slist">
                            <li>{{spl.feature}}</li>
                        </ul> 
                </div>
            </div>

            <div class="col-lg-12" style="margin-bottom: 30px;">
                <hr>
                <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary btnWidth bootstrap-md-btn" type="submit" ng-disabled="addProductCtrl.btnClicked">Save</md-button>
                    <md-button class="md-raised md-accent btnWidth bootstrap-md-btn" ng-click="addProductCtrl.cancel()">Cancel</md-button>
                </div>
                <div layout="row" layout-align="center center" class="alert alert-danger" ng-show="addProductCtrl.errMsg">
                    {{addProductCtrl.errMsg}}
                </div>
            </div>

        </form> -->
    </div>
</div>